body{
    margin:0;
    padding:0;
}
.general{
    display:flex;
    background: rgb(204, 46, 138);
    height:fit-content;
}
.logo{
    width:4%;
}
.left{
    flex-basis:20%;
    background: rgb(50, 205, 102);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items:center;
    transition:all 300ms ease;
    justify-content: center;
}
.left a{
    display: flex;
    flex-direction: row;
    gap:3rem;
    position:sticky;
    align-items: center;
    margin-left: 2px;
}
.middle{
    flex-basis: 100%;
    background: white;
    align-items: center;
}

   

.close-left{
    background: rgb(50, 205, 102);
    margin-top: 0;
    padding: 0;
    height: 8px;
    justify-content: center;
    position:relative;
    width:100% ;
    height: 30px;
    align-content: center;
    display: none;

    
}
.close-right{
    display: none;
}
.remove{
    width:0%;
    height: 100%;
    background-color: rgba(245, 25, 25, 0.808);
    border-radius: 50%;
    text-align: center;
    font-size:50px;
    margin-left: 10%;

    }
    .remove2{
        width:0%;
        height: 100%;
        background-color: rgba(245, 25, 25, 0.808);
        border-radius: 50%;
        text-align: center;
        font-size:50px;
        margin-left: 80%;
    
    }
    
.dd{
    width: 3px;
    display: block;
    
}





.middle-container a{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    gap:3rem;
    position:relaive;
   align-items:center;
    


}
.right{
    flex-basis:20%;
    background: rgb(187, 74, 74);
    }

.right a{
    display: flex;
    flex-direction: row;
    gap:3rem;
    position:sticky;
    align-items: center;
    margin-left: 2px;
}

.header{
    display:flex;
    background-color: #f7f4f4;
    position: sticky;
    top:0;
    height: 70px;
    
}
.header-left{
    flex-basis:100%;
    background-color: #f1e9f8;
}
.header-left i{
    font-size: 30px;
}
.header-middle{
    flex-basis:100%;
}
.header-right{
    flex-basis:100%;
    background-color: rgb(238, 238, 231);
    height: 40px;
}
.header-right i{
    margin-left: 90%;
    margin-top: 5%;
    font-size: 30px;
    display: none;
}


.footer1{
    flex-basis: 20%;
}
.footer2{
    flex-basis: 20%;
}
.footer3{
    flex-basis: 20%;
}
.footer4{
    flex-basis: 30%;
}
.footer{
    background: rgba(58, 95, 80, 0.445);
    height: fit-content;
    width:unset;
    display: flex;

}

.line-a{
    width:40%;
    background: green;
}
.line-b{
    width: 40%;
    background: green;
}
.info{
    width: 20%;
    align-items: center;
    justify-content: center;
}
.info h9{
    font-size:14px;
    margin: 50px;

}
.footer2{
    display: flex;
    background: rgb(201, 89, 15);
}
.footer2-left{
    width:100%;
}
.footer2-middle{
    width: 100%;
}
.footer2-right{
    width: 100%;
}
.danger{color: rgb(255, 0, 43);
}
.header-left i{
    display: none;
}


@media only screen and (max-width:480px) {
    .general{
        display: flexbox;
    }
    .header-left h1{
        display: none;
    }
    .left-container a i{
        width: 0;
        display: none;
    }
    .left{
        display: none;
        flex-basis: 90%;
        
    }
    .close-left{
        display: block;
        
    }
    .right{
        display: none;
    }
    .close-right{
        display:block
    }
    .footer2{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow:hidden;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .footer2-left{
        margin-left:2%;
        font-size: 30px;
    }
    .footer2-middle{
        margin-left:50%;
        font-size: 20px;  
    }
    .footer2-right{
        margin-left:10%;
        font-size: 15px;
        padding: 5px 5px;
        
    }
    .info h9{
        font-size:  6px;
        margin: 5px;
    

   }
   .header-left i{
    display: block;
    padding: 8px;
}
.header-right i{
    display: block;
}
.dd{
    display: block;
}
.all{
    justify-content: center;
}
}